:root {
  /* Prima86ry/Background */
  --color1: #d3d3d3;
  /* Secondary/Lines */
  --color2: black;
  /* it's the color of the boxes!*/
  --boxColor: #f9f9f9;
  /* Dansk rød*/
  --DKr: #c60c30;
}

html {
  box-sizing: border-box;
  /* background-color: var(--color1); */
  background-attachment: fixed;
  list-style-type: none;
  font-family: Quicksand, sans-serif;
  /* font-family: "Poppins", sans-serif; */
  /* background-image: url("../images/wallpaper/wallpaper1.jpg"); */
}

*,
::before,
::after {
  box-sizing: inherit;
  list-style-type: none;
  text-decoration: none;
  /*  this is just some fuckery  */
  /*  JK the fuckery is now standard.  */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0) !important;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("../images/wallpaper/wallpaper3.jpeg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right top;
}

body {
  /* font-family: Quicksand, Lato, sans-serif; */
  text-decoration: none;
  line-height: 1.6em;
  transition: all 0.3s ease;
}

header {
  position: fixed;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color2);
  font-size: 22px;
  list-style-type: none;
  text-decoration: none;
  padding-inline-start: 40px;
  line-height: 1em;
  align-items: center;
  text-align: center;
  z-index: 101;
  height: 60px;
}

header li {
  display: inline-block;
}

header a {
  font-size: 1.5em;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

a:focus {
  color: var(
    --color1
      /* Not sure what's making the colors keep changing to blue on mobile for Anchor tags, so I'm throwing in an !important */
  ) !important;
}

header a:hover {
  font-weight: 800;
  border-width: thick;
  border-bottom: var(--color1) 2px solid;
}

footer {
  display: flex;
  align-items: flex-end;
  position: bottom;
  justify-content: center;
  margin-top: 3.3rem;
  font-weight: bold;
  background-color: white;
  opacity: 0.95;
}

li.nav-uo {
  float: left;
  list-style: none;
}

.nav-up {
  top: -60px;
}

.bar {
  margin-top: 10px;
  border: none;
}

h1 {
  padding: 0 6px 0 6px;
}

h2 {
  border-bottom: 2px solid var(--color2);
}

.line h2 {
  border-bottom: 2px solid var(--color2);
  width: 100px;
}

h3 {
  color: var(--color2);
  font-size: 1.4em;
}

h3:hover {
  font-weight: 700;
}

h4 {
  margin: 5px 0;
}

h6 {
  padding: 0 6px 0 6px;
}

.location {
  display: flex;
  padding-bottom: 0;
  border-left: var(--color2) 2px solid;
  margin-right: 3px;
  background-color: var(--boxColor);
  opacity: 0.95;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color2);
}

a:hover {
  color: var(--color2);
}

a.color2:visited {
  text-decoration: none;
  color: var(--color1);
}

span.a:visited {
  text-decoration: none;
  color: var(--color2);
}

.main {
  margin-top: 300px;
  margin: auto;
}

.words {
  color: var(--color2);
  z-index: 0;
  /* font-style: Quicksand, Lato, sans-serif; */
  font-size: 40px;
  line-height: 30px;
  display: flex;
  align-items: center;
  margin-left: 50px;
  background: var(--boxColor);
  /* opacity: 0.95; */
  width: 500px;
  /* min-width: 550px; */
  max-width: 600px;
  border: var(--color2) 2px solid;
}

.words2 {
  color: var(--color2);
  /* font-style: Quicksand, Lato, sans-serif; */
  margin-left: 55px;
}

.list {
  display: wrap;
  list-style-type: none;
  transition: height 500ms;
  /* font-style: Quicksand, Lato, sans-serif; */
  font-size: 22px;
  line-height: 1.6em;
  color: var(--color2);
  display: flex;
  flex-direction: row;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 4%;
  padding-right: 4%;
  align-content: flex-start;
}

.index {
  flex-direction: column;
  display: flex;
  width: 100%;
  margin-bottom: 4px;
  padding-top: 50px;
}

.image {
  max-width: 100%;
  margin-bottom: 20px;
}

.small {
  font-size: 10px;
  line-height: 0;
}

.slider {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding-left: 0;
}

button:focus {
  outline: 0;
}

.slide {
  border: var(--color2) 4px solid;
  width: 100%;
  height: 100%;
  text-align: center;
}

.div-0 {
  border: var(--color2) 2px solid;
  font-size: 45px;
  background: var(--boxColor);
  width: 59%;
  display: flex;
  height: auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  opacity: 0.95;
}

div-2 {
  display: flex;
  width: 35%;
  font-size: 10px;
}

.div-2 > p {
  border-bottom: 2px var(--color2) solid;
}

.bold_bits {
  font-weight: 900;
}

.contact-link {
  color: var(--color2) !important;
  font-size: 23px;
  opacity: 0.95;
  padding: 5px;
  margin-left: 20px;
}

.contact-link:visited {
  color: var(--color2);
}

.contact-link:hover {
  font-weight: 800;
  background-color: var(--color2);
  color: var(--color1);
  border: var(--color1) 2px solid;
}

.contact-links {
  min-width: 220px;
  max-height: 220px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  font-size: 30px;
  /* flex-direction: column; */
}

.Here {
  font-weight: 900;
  color: var(--boxColor);
}

.character-first {
  color: var(color3);
  font-size: 180px;
  line-height: 100px;
  padding-left: 3px;
  font-weight: 2000;
}

.character-first2 {
  display: none;
}

/* Scroll-ee bits */
/* Scroll-ee bits */
/* Scroll-ee bits */

#scroll {
  right: 10px;
  bottom: 10px;
  z-index: 101;
  width: 7%;
  height: 3em;
  position: fixed;
  cursor: pointer;
  /* Color of unhovered pill*/
  background-color: var(--color1);
  opacity: 0.75;
  border: 2px var(--color2) solid;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}

#scroll span {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}

#scroll:hover {
  background-color: var(--color2);
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

/*OWL*/
/*OWL*/
/*OWL*/

/* This bit will make all of your Owl Carousel images the same size */
/* This will change the size of images within the carousel */
.owl-carousel .item {
  height: 700px;
  max-width: 1100px;
  /* remove this display prop if things get messed up with the slider */
  display: inline-block;
}

.owl-carousel {
  margin: 0 auto;
}

.owl-prev {
  width: 20px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -20px;
  display: block !important;
  border: 0px solid var(--color2);
}

.owl-next {
  width: 50px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -2px;
  display: block !important;
  border: 0px solid var(--color2);
}

/* sites section */
/* sites section */
/* sites section */

.sites {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}

.image-site {
  width: 100%;
  max-width: 1100px;
  min-width: 450px;
}

.paragraph-site {
  margin: 30px 30px;
  background: white;
  opacity: 0.95;
  padding: 20px 10px;
  font-size: 23px;
  border: var(--color2) 2px solid;
  border-right: var(--color2) 2px solid;
  line-height: 1.6;
  color: var(--color2);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.paragraph-intro {
  color: var(--color3);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 35px;
  width: 25px;
  padding-right: 1px;
}

.paragraph-intro-main {
  line-height: 0.9em; /* this needs to stay at .9em  */
  z-index: 102;
  min-width: 600px;
}
.paragraph-body {
  font-size: 22px;
  margin-left: 3px;
  margin-top: 15px;
  color: var(--color3);
  padding-bottom: 20px;
}

.paragraph-container {
  display: flex;
  background: var(--boxColor);
  flex-direction: column;
  padding-left: 20px;
}

.paragraph-code {
  width: 100%;
  padding-left: 20px;
  margin-left: 20px;
  list-style-type: circle !important;
  line-height: 1.6em;
  font-size: 22px;
  color: var(--color2);
}

.title {
  font-size: 29px;
  font-weight: bold;
  margin-right: 7px;
  padding: 2px 5px;
  color: var(--color2);
  border-right: var(--color2) 2px solid;
  justify-content: center;
}

.link-text {
  color: var(--DKr);
  text-decoration: underline;
  /* border-bottom: 2px var(--color2) solid; */
}

.site-ways {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.site-ways-rev {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 50px;
  padding-bottom: 50px;
}

.box-big {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.box-small {
  display: flex;
  background: var(--boxColor);
  font-size: 25px;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  border: var(--color2) 2px solid;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  opacity: 0.95;
  margin-right: 15%;
}

.box-small > p {
  padding-left: 10;
}

.item-sub {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 10px;
  border-left: dashed 2px var(--color1);
  text-decoration: none;
  align-content: center;
  list-style-type: none;
  align-items: center;
  min-width: 350px;
  width: 100%;
}

item-sub:visited {
  color: var(--color2);
}

span.item-sub {
  color: var(--color2) !important;
}

.item-sub-sub {
  width: 450px;
}

.location-edu {
  font-size: 16px;
  font-style: italic;
  padding-left: 25px;
}

.list-code {
  list-style-type: square;
  color: var(--color2);
}

li.paragraph {
  font-size: 30px;
}

.intro-photo {
  height: 350px;
  border: 2px var(--color2) solid;
  border-bottom: 2px var(--color2) solid;
  border-left: 2px var(--color2) solid;
  margin-left: 80px !important;
  margin-right: 20px;
  margin-top: 20px;
}

/* Let's make stuff fade! */

/* Let's make stuff fade! */

/* Fading up/down button */

/* Let's make stuff fade! */

#fader {
  position: fixed;
  top: -150;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background: white;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}

/* Let's underline shiftily */

/* Let's underline shiftily */

/* Let's underline shiftily */

.container {
  width: 50%;
  margin: 0 auto;
}

.two:hover ~ hr {
  margin-left: 25%;
}

.three:hover ~ hr {
  margin-left: 50%;
}

hr {
  height: 0.25rem;
  width: 50%;
  margin: 0;
  background: var(--color1);
  border: none;
  transition: 0.3s ease-in-out;
}

a:after {
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.line {
  color: var(--color1);
}

#bruh {
  position: absolute;
  top: 0;
}

hr {
  border-color: var(--color2);
}

/* sets width for the programming section*/
.width-limit {
  max-width: 350px;
}

.spacer {
  height: 65px;
}

/*Work Section stuff*/
.projLink {
  color: var(--DKr);
  text-decoration: underline;
  font-weight: bold;
}

.right-side {
  justify-content: flex-end;
  flex-wrap: flex;
  flex-wrap: wrap;
}

.under:hover {
  border-bottom: 2px solid black;
}

ul {
  padding: 5px 0;
}

.ex8 .parent {
  height: auto;
  display: grid;
  /* grid-gap: 1rem; */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.ex8 .visual {
  height: 100%;
  width: auto;
  /* This centers things (the img) */
  display: flex;
  object-fit: cover;
}

.ex8 .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background: var(--boxColor);
  max-width: 650px;
  margin-right: 50px;
}

.ex8 h3 {
  margin: 0;
}

.image_visual {
  height: 150px;
  width: 350px;
  margin: 0 auto;
  border: 2px solid var(--color2);
  padding: 5px;
}

.fa {
  width: 150%;
  height: 150%;
}
/*
Better text underline
by Lukas Horak
https://codepen.io/lhorak/pen/bEavyg
*/
$color-accent: #d21e1e;
$color-text-body: rgb(0, 0, 0);
// Font stacks
$font-sans-serif: Helvetica, sans-serif;
$font-serif: "Roboto Slab", Georgia, serif;
/*
body {
  font-size: 100%;
  color: $color-text-body;
  font-family: $font-serif;
  font-weight: 400;
  padding: 0 1.5em 1.5em;
  background: white;
}
*/

a {
  /* color: $color-accent; */
  text-decoration: none;
  /* text-shadow: 0px -2px 0 white, 0px -1px 0 white, 0px 0px 0 white,
    2px -2px 0 white, 2px -1px 0 white, 2px 0px 0 white, -2px -2px 0 white,
    -2px -1px 0 white, -2px 0px 0 white, 1px -2px 0 white, 1px -1px 0 white,
    1px 0px 0 white, -1px -2px 0 white, -1px -1px 0 white, -1px 0px 0 white,
    0px -2px 0 white, 0px -1px 0 white, 0px 0px 0 white; */
  box-shadow: 0 -1px 0 0 white inset, 0 -2px 0 0 transparent inset;

  transition: all 0.3s ease-in;

  &:hover {
    transition: all 0.3s ease-out;
    box-shadow: 0 -1px 0 0 white inset, 0 -2px 0 0 $color-accent inset;
  }

  &::selection {
    color: white;
    background: $color-accent;
    text-shadow: none;
  }
}

h1,
h2 {
  a {
    box-shadow: 0 -1px 0 0 white inset, 0 -3px 0 0 transparent inset;

    &:hover {
      transition: all 0.3s ease-out;
      box-shadow: 0 -1px 0 0 white inset, 0 -3px 0 0 $color-accent inset;
    }
  }
}

/* FLIP on Hover from WC3 */
/* FLIP on Hover from WC3 */
/* FLIP on Hover from WC3 */
/* https://www.w3schools.com/howto/howto_css_flip_image.asp */
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 451px;
  height: 301px;
  border: 2px solid var(--color2);
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.9s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: var(--boxColor);
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: var(--boxColor);
  color: var(--color2);
  transform: rotateY(180deg);
}

.flip-box {
  margin: 25px;
  line-height: 2em;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}


/*RESPONSIVE*/

/*RESPONSIVE*/

/*RESPONSIVE*/

/*RESPONSIVE*/

/*RESPONSIVE*/

/*RESPONSIVE*/

/*RESPONSIVE*/

/*RESPONSIVE*/

/*RESPONSIVE*/

/*RESPONSIVE*/

/*RESPONSIVE*/

/*RESPONSIVE*/

@media screen and (max-width: 1000px) {
  .site-ways {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
  }
  .site-ways-rev {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .div-0 {
    width: 100%;
    min-width: 450px;
    max-width: 480px;
    display: flex;
    font-size: 16px;
    flex-direction: row;
    line-height: 1.6
    justify-content: flex-start;
    margin: auto 15px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-right: 1 0px;
  }
  #list {
    display: flex;
  }
  header li {
    font-weight: bold;
    font-size: 0.7em;
    padding-right: 2.5px;
    padding-left: 2.5px;
  }
  h3.makeBiggerWSmallSreen {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
    margin: 0.15em 0;
  }
  h4 {
    display: flex;
    justify-content: center;
  }
  .paragraph-intro {
    font-size: 26px;
    line-height: 26px;
    color: var(--color2);
    padding: 0;
    font-weight: bold;
    width: 100%;
    padding-right: 0.25px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }
  .paragraph-body {
    font-size: 18px;
    height: 100%;
    width: 120%;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: none;
  }
  .intro-photo {
    box-shadow: inset 0 0 0 25px var(--color2);
    padding: 2px;
    margin-right: 14px;
    max-width: 40%;
    height: auto;
    max-height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .words {
    margin-left: -10px;
    display: flex;
    width: 100%;
    background-color: var(--boxColor);
    /* opacity: 0.95; */
    font-size: 32px;
  }

  .words:focus {
    outline: thin dotted;
  }

  .location {
    margin-left: 10px;
  }

  .image-site {
    height: auto;
    width: 100%;
  }
  .owl-next,
  .owl-prev {
    display: none;
  }
  .sites {
    flex-direction: column;
    justify-content: flex-start;
  }
  .owl-carousel.owl-loaded {
    display: inline-block;
  }
  .site-ways {
    padding-top: 8px;
  }
  .site-ways-rev {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .slider {
    width: 100%;
    height: 280px;
  }
  .item {
    height: 380px !important;
  }
  .item:hover {
    cursor: grabbing;
  }
  .owl-carousel {
    /* height: 300px; */
    height: auto;
    width: 500px;
  }
  .paragraph {
    width: 90%;
    font-size: 16px;
  }
  .list-code {
    width: 100%;
    margin-top: 80px;
  }
  .title {
    border-right: none;
    padding: 5px 5px;
  }
  /* .title-work {
    margin: 0 auto;
  } */
  .index {
    padding-top: 20px;
  }
  .box-small {
    width: 100%;
    flex-direction: row;
    padding-bottom: 15px;
    margin-right: 0%;
    margin-bottom: 15px;
    margin-left: 0;
    line-height: 1.6;
  }
  .paragraph-site {
    margin: 50px 20px;
    padding: 15px 35px;
  }
  .paragraph-code {
    width: 600px;
    margin-top: 3px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 5px;
  }
  header {
    padding-inline-start: 0;
  }
  header a {
    font-size: 1em;
    padding-right: 5px;
    padding-left: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: var(--color1) !important;
  }
  .container {
    width: 100%;
  }
  ul {
    padding: 10px 0;
    margin: auto 0;
    display: inline-block;
  }
  .character-first {
    display: none;
    color: var(color3);
    font-size: 220px;
    line-height: 100px;
    padding-left: 3px;
    font-weight: 2000;
  }
  .character-first2 {
    display: inline;
    padding-bottom: 0;
  }
  /* #list {
    flex-wrap: wrap;
    flex-direction: column;
  } */

  h1 {
    margin-left: 25px;
    font-size: 36.5px;
  }
}
