:root {
  --myGrey: #eae9e7;
  --myPink: #ff7272;
}
html {
  box-sizing: border-box;
  background-color: var(--myPink);
  background-attachment: fixed;
  list-style-type: none;
  font-family: Quicksand, sans-serif;
}
*,
::before,
::after {
  box-sizing: inherit;
  list-style-type: none;
  text-decoration: none;
  /* border: black 2px dotted; */
}

body {
  font-style: "Open Sans", Quicksand, Lato, sans-serif;
  color: var(--myGrey);
  text-decoration: none;
}
nav {
  text-align: center;
  padding: 10px 0;
  max-width: 100%;
  z-index: 1;
}
nav ul {
  display: block;
  list-style-type: disc;
  list-style: none;
  margin: 0 2px;
}
nav li {
  display: inline-block;
  padding: 5px 5px;
}
nav a {
  font-weight: normal;
  padding: 10px 5px;
  font-size: 1em;
}

nav a:hover {
  font-weight: 700;
  border-bottom: var(--myPink) 2px dotted;
}
h3 {
  margin-left: 50px;
  color: var(--myGrey);
}
h3:hover {
  font-weight: 700;
}

.location {
  display: flex;
  white-space: pre;
  align-content: flex-end;
  padding-bottom: 0;
}
.top_bits {
  height: 60px;
  top: 0;
  position: fixed;
  width: 100%;
  /* padding: 20px; */
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--myGrey);
  font-size: 22px;
  list-style-type: none;
  text-decoration: none;
  /* padding-inline-start: 40px; */
  line-height: 1em;
}
a {
  color: var(--myPink);
}
a:visited {
  text-decoration: none;
  color: var(--myPink);
}
.main {
  margin-top: 300px;
  margin: auto;
}
.words {
  color: #eae9e7;
  z-index: 0;
  font-style: Quicksand, Lato, sans-serif;
  font-size: 40px;
  line-height: 30px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  margin-left: 50px;
  /* border: black 2px dotted; */
}
.words2 {
  color: var(--myGrey);
  font-style: Quicksand, Lato, sans-serif;
  margin-left: 55px;
}

.showme {
  /* border: red dotted 2px; */
  display: none;
  list-style-type: none;
  transition: height 500ms;
  font-style: Quicksand, Lato, sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin-left: 25px;
}
#list {
  list-style-type: none;
}
.showhim:hover .showme {
  display: block;
  list-style-type: none;
  transition: height 500ms;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.25s;
}

.brain {
  color: var(--myGrey);
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.index {
  flex-direction: row;
}

.image {
  width: 750px;
  height: 100%;
  border-bottom: var(--myGrey) 2px solid;
  padding-bottom: 35px;
  padding-top: 35px;
}

.small {
  font-size: 10px;
  line-height: 0;
}
.slider {
  /* max-width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  padding-left: 20%;
  position: absolute;
}

.one {
  order: 1;
  flex: 1;
}

.two {
  order: 2;
  flex: 2;
}

.activelink {
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/** Visibility fix for stacking slides during initialization. */
.slick__slide {
  max-width: 100%;
  position: absolute;
  visibility: hidden;
}

/** Prevents collapsing container during initialization. */
.slick__slide.slide--0 {
  position: relative;
}

.unslick .slick__slide,
.slick-initialized .slick__slide {
  position: relative;
  visibility: visible;
}
